@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@import "tailwindcss";


@layer base {
  html {
    font-family: "Play", sans-serif;
  }
}

.colorpick-eyedropper-input-trigger {
  display: none;
}


.pattern-section {
  /* margin-bottom: 24px; */
  width: 60%;


}

.pattern-title {
  font-size: 1vw;
  font-weight: 600;
  margin-bottom: 0.5vw;
  color: #1f2937;
}

.pattern-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5vw;
  overflow-y: scroll;
  padding-right: 0.5vw;
  height: 6vw;
  margin-bottom: 2vw;

}

.pattern-item {
  position: relative;
  aspect-ratio: 1;
  border: 0.2vw solid #e5e7eb;
  border-radius: 0.5vw;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pattern-item:hover {
  border-color: #3b82f6;
  transform: scale(1.05);
}

.pattern-item.pattern-selected {
  border-color: #3b82f6;
  border-width: 0.2vw;
  box-shadow: 0 0 0 0.2vw rgba(59, 130, 246, 0.2);
}

.pattern-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pattern-number {
  position: absolute;
  bottom: 0.4vw;
  right: 0.4vw;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.2vw 0.4vw;
  border-radius: 0.2vw;
  font-size: 0.5vw;
  font-weight: 600;
}


/* Vertical scrollbar */
::-webkit-scrollbar {
  width: 0.5vw;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f5f9; /* light gray */
  border-radius: 10px;
   
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #2F5755; /* theme color */
  border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b9492;
}
